.dashboard-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

.dashboard-unlogged {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:crimson;
}