.new-client-title { 
  padding-left: 15px;
  padding-top: 10px;
  font-size: 25px;
  font-weight: bold;
}

.new-client-container { 
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 550px;
}

/* .home-error-message { 
  display: flex;
  flex-direction: row;
  font-size: 9px;
  color: red;
  justify-content: center;
  margin-top: 2px;
} */

.new-client-button { 
  width: 200px;
  display: flex;
  justify-content: center;
}

.new-client-spinner { 
  margin-left: 8px;
  margin-top: 4px;
}